ul {
    list-style-type: none;
    border:1px solid black;
    width:fit-content;
    padding: 0px;
}
.container {
    display: flex;
}
li {
    text-align: center;
    padding: 5px 20px;
}
ul .heading {
    border-bottom: 1px solid black;
}

