* {
    box-sizing: border-box;
}
body {
    /* width: 1440px; */
    height: 70%;
    font-family: 'Inter', sans-serif;
}
.container {
    width:80%;
    /* padding: 10px; */
    margin:auto;
}

.head {
    display: grid;
    grid-template-columns: 50% 50%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 10px;
}

ul>li {
    padding: 5px 15px;
    margin: 10px;
    color: hsl(236, 13%, 42%);
}
li:hover, .sideinfo:hover, .boxitem > h4:hover {
    color:hsl(35, 77%, 62%);
    cursor:pointer;
}
#read:hover {
    background-color:hsl(240, 100%, 5%);
    border-color: hsl(240, 100%, 5%);
}
