* {
    display: flex;
    flex-direction: column;
    width:300px;
    margin:10px 5px;
}
.container {
    width: fit-content;
    padding: 5px;
    background: rgb(220, 217, 217);
}
input {
    padding: 10px 5px;
    border-color: rgba(0, 0, 0, 0.204);
    border-radius: 8px;
}
button {
    width:150px;
    margin:10px 5px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: rgb(35, 104, 223);
    color:white;
    border: none;
    border-radius: 8px;
    outline: 1px solid white
}
.newfield {
    flex-direction: row;
}
.update {
    flex-direction: row;
}
