<div class="container">
  <h3>Add/Remove skills</h3>
  <div>
    <div class="update">
      <button (click)="addSkill()">Add</button>
      <button (click)="removeAll()" *ngIf="showRemove">Remove All</button>
    </div>
    <div *ngFor="let control of skills.controls; let i = index" class="newfield">
      <input type="text" [formControl]="skills.controls[i]" required>
      <button (click)="removeSkill(i)" style="width: fit-content;">X</button>
    </div>
  </div>
</div>
<div class="container">
  <button (click)="addInfo()" *ngIf="unclicked">Add info</button>
  <div *ngFor="let detail of info.controls; let i = index" width="fit-content">
    <ng-container [formGroup]="detail">
      <label for="">Name</label>
      <input type="text" formControlName="name" style="width:70%">
      <label for="">Last Name</label>
      <input type="text" formControlName="lastName" style="width:70%">
      <button>Add</button>
    </ng-container>
  </div>
</div>