<h2>Employee List</h2>
<div class="container">
    <ul>
        <li class="heading">ID</li>
        <li>1KS89IS</li>
        <li>AS982HD</li>
        <li>NDIS93N</li>
        <li>KKSD932</li>
    </ul>

    <ul>
        <li class="heading">Department Name</li>
        <li>Binoy</li>
        <li>Bipin</li>
        <li>Liza</li>
        <li>Karthik</li>
    </ul>
    <ul>
        <li class="heading">No. of employees</li>
        <li>224</li>
        <li>233</li>
        <li>212</li>
        <li>250</li>
    </ul>
</div>
